.social__link {
  text-decoration: none;
}

.social__link_facebook {
  fill: #122947;
  width: 11px;
  height: 18px;
}
/* ховер нужно переделать просто эксперемент*/
.social__link_facebook:hover {
  fill: red;
  stroke: yellow;
}

.social__link_instagram {
  width: 20px;
  height: 20px;
}

.social__link_twitter {
  width: 20px;
  height: 17px;
}
